{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
{% load static %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div id="main">
    {% for assignment in assignment_list %}
        <article class="post">
            <a class="taskItem">
                <input type="checkbox">
                <label for="{{ todo.id }}"><span class="complete-">{{ assignment.title }}</span></label>
                <span class="category-{{ assignment.class }}">{{ assignment.class }}</span>
                <strong class="taskDate"><i class="fa fa-calendar"></i>       {{ assignment.due_date }}</strong>
            </a>
            <p>
                {% if assignment.description %}
                {{ assignment.description}}
                {% endif %}
            </p>
            <footer>

            <br>
            <p>

                <ul class="actions">
                    <li><a href = '{% url "assignments:delete_assignment" assignment.id %}' class="button large">Delete Assignment</a></li>
                </ul>
            </p>
            </footer>

        </article>
    {% endfor %}


{#        <article class="post">#}
{#            <header>#}
{#                <div class="title">#}
{#                    <h2>{{ assignment.title }}</h2>#}
{#                </div>#}
{#                <div class="meta">#}
{#                    <a href="#" class="author">#}
{##}
{#                </div>#}
{#            </header>#}
{##}
{#            <p>{{ assignment.description }}</p>#}
{#            <footer>#}
{#                {% if assignment.due_date %} }#}
{#                Due on:  {{ assignment.due_date }}#}
{#                {% endif %}#}
{#                {% if user.username %}#}
{#                    {% if person == user.student %}#}
{#                        <h4>Your sProfile</h4>#}
{#                    {% elif person in user.student.friends.all %}#}
{#                        <h4>Already friends!</h4>#}
{#                    {% else %}#}
{#                        <form action="{% url 'skillMatch:addfriend' person.user %}" method="post">#}
{#                            {% csrf_token %}#}
{#                            <input type="submit" class="button large" value="Add Friend">#}
{#                        </form>#}
{#                {% endif %}#}
{#                {% endif %}#}
            </footer>
        </article>
    <ul class="actions pagination">
		{% if page_obj.has_previous %}
		<li><a href="?page={{ page_obj.previous_page_number }}" class="button large previous">Previous Page</a></li>
		{% endif %}

		{% if page_obj.has_next %}
		<li><a href="?page={{ page_obj.next_page_number }}" class="button large next">Next Page</a></li>
		{% endif %}
	</ul>
    </div>
</head>
<body>

</body>

    <section id="sidebar">

			<!-- Intro -->
			<section id="intro">
				<a href="#" class="logo"><img src={% static "images/logo1.png" %} alt="" /></a>
{#				<header>#}
{#                    <div class="mini-posts">#}
{#					<h2>Calendar</h2>#}
{#                        <link href="/assets/css/calendar.css">#}
{#                            <div id="calendar"></div>#}
{#                            <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>#}
{#                    </div>#}

				</header>
			</section>

			<!-- Mini Posts -->
			<section>
				<div class="mini-posts">
					<h2>DUE TODAY</h2>
					<!-- Mini Post -->
					<article class="mini-post">
                        {% for assignment in assignment_list %}
{#                            <h3>{{ assignment.due_date.weekday}}</h3>#}
                            <h3>{{ assignment.title }}</h3>
                            {% if assignment.due_date.weekday == today.weekday %}
                                <h3>{{ assignment.title }}</h3>
                            {% endif %}
                        {% endfor %}
{#						<header>#}
{#							<h3><a href={% url 'assignments:todo' %}>Jacob Fullerton</a></h3>#}
{#							<a href={% url 'assignments:todo'%} class="author"><img src="https://i.imgur.com/mDVFIvA.jpg" alt="" /></a>#}
{#						</header>#}
{#						<a href={% url 'assignments:todo'%} class="image"><img src="https://i.imgur.com/mDVFIvA.jpg" alt="" /></a>#}

					</article>

				</div>
			</section>

			<!-- About -->
			<section class="blurb">
				<h2>About</h2>
				<p>An easy way to track your assignments, and get things done on time!</p>
				<ul class="actions">
					<li><a href="#" class="button">Learn More</a></li>
				</ul>
			</section>


			<!-- Footer -->
			<section id="footer">
				<ul class="icons">
					<li><a href="https://twitter.com/MarkSherriff" class="fa-twitter"><span
								class="label">Twitter</span></a></li>
					<li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
					<li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
				</ul>
				<p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a
						href="http://unsplash.com">Unsplash</a>.</p>
			</section>
    </section>
{% endblock %}
</html>

