{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div id="main">
    {% for assignment in assignment_list %}
        <article class="post">
            <a class="taskItem">
                <input type="checkbox" class="task-checkbox" name="checkedbox" id="{{ assignment.id }}" value="{{ assignment.id }}">
                <label for="{{ todo.id }}"><span class="complete-">{{ assignment.title }}</span></label>
                <span class="category-{{ assignment.class }}">{{ assignment.class }}</span>
                <strong class="taskDate"><i class="fa fa-calendar"></i>        {{ assignment.due_date }}</strong>
            </a>
            <p>
                {% if assignment.description %}
                {{ assignment.description}}
                {% endif %}
            </p>
            <footer>

            <br>
            <p>

                <ul class="actions">
                    <li><a href = '{% url "assignments:delete_assignment" assignment.id %}' class="button large">Delete Assignment</a></li>
                </ul>
            </p>
            </footer>

        </article>
    {% endfor %}


{#        <article class="post">#}
{#            <header>#}
{#                <div class="title">#}
{#                    <h2>{{ assignment.title }}</h2>#}
{#                </div>#}
{#                <div class="meta">#}
{#                    <a href="#" class="author">#}
{##}
{#                </div>#}
{#            </header>#}
{##}
{#            <p>{{ assignment.description }}</p>#}
{#            <footer>#}
{#                {% if assignment.due_date %} }#}
{#                Due on:  {{ assignment.due_date }}#}
{#                {% endif %}#}
{#                {% if user.username %}#}
{#                    {% if person == user.student %}#}
{#                        <h4>Your sProfile</h4>#}
{#                    {% elif person in user.student.friends.all %}#}
{#                        <h4>Already friends!</h4>#}
{#                    {% else %}#}
{#                        <form action="{% url 'skillMatch:addfriend' person.user %}" method="post">#}
{#                            {% csrf_token %}#}
{#                            <input type="submit" class="button large" value="Add Friend">#}
{#                        </form>#}
{#                {% endif %}#}
{#                {% endif %}#}
            </footer>
        </article>
    <ul class="actions pagination">
		{% if page_obj.has_previous %}
		<li><a href="?page={{ page_obj.previous_page_number }}" class="button large previous">Previous Page</a></li>
		{% endif %}

		{% if page_obj.has_next %}
		<li><a href="?page={{ page_obj.next_page_number }}" class="button large next">Next Page</a></li>
		{% endif %}
	</ul>
    </div>
</head>
<body>

</body>
</html>

{% endblock %}